/*************
    HEADER
**************/
header {
    .top-header {
        @include disp-flex;
        @include align-it-cent;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #bdb5af;
    }
}

.header-logo {
    @include disp-flex;
    @include align-it-cent;
    flex-basis: 50%;
}

.header-menu {
    @include list-header-menu;     
    flex-basis: 50%;
    li {
        margin-right: 40px;
        a {
            font-size: $font-size-sm;
        }    
    &:last-child {
        margin-right: 0;
    } 
    }
}

.header-menu-button {
    @include disp-flex;
    border: 1px solid blue;
    border-radius: 7px;
    padding: 7px;
    .header-menu-icon {
        height: 18px;
        width: 18px;
        margin-right: 5px;
        position: relative;
        img {
            height: 18px;
            width: 18px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}