/*************
    HEADER
**************/
header {
    //height: 75px;
    margin-bottom: 40px;
    .top-header {
        @include disp-flex-horizontal-center;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid $property-grey;
    }
}

.header-logo {
    @include disp-flex-horizontal-center;
    flex-basis: 50%;
}

.header-menu {
    @include disp-flex-header-menu;     
    flex-basis: 50%;
    li {
        margin-right: 40px;
        a {
            font-size: $font-size-13;
            font-weight: $font-weight-600;
            color: $property-brown;
        }
    &:last-child {
        margin-right: 0;
        a.button {
            @include disp-flex;
            @include button;
            color: $property-blue;
            border: 1px solid $property-blue;
            .icon {
                margin-right: 8px;
            }        
        }        
    } 
    }
}
