/****************
    VARIABLES
****************/
// Colors
$white: #fff;
$black: #000;
$property-grey: #bdb5af; 
$property-blue: #30488f;
$property-brown: #58402c;
$property-pink: #ffe7d2;

// Typography
$font-family: 'Open Sans', sans-serif;

// Font size
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-18: 18px;
$font-size-21: 21px;
$font-size-23: 23px;
$font-size-25: 25px;
$font-size-40: 40px;
$font-size-50: 50px;

// Line Height
$line-height-23: 23px;
$line-height-20: 20px;
$line-height-27: 27px;
$line-height-33: 33px;
$line-height-40: 40px;
$line-height-60: 60px;
$line-height-70: 70px;

// Font weight
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

// Border radius
$button-border-rad: 8px;
$founders-msg-square-border-rad: 7px